node_modules
.next
out
build
.dist

.env
.env.local
.env*.local

.vercel
*.tsbuildinfo
next-env.d.ts

.DS_Store
npm-debug.log*
.claude

.vercel
.env*
.mcp.json
components.json
.playwright-mcp
.claude
